/*navbar.html*/
body{
    margin:0;
    font-family: 'Raleway', sans-serif;
}

.logo{
	float:left;
	border:1px red solid;
	padding:6px;
	color: #fff;
	margin:2px;
}

nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
    background:#333;
}

nav ul:after{
    content:"";
    display:block;
    clear:both;
}


nav ul > li { /* all li elements with parent ul*/
    float:left;
    position:relative;
}
nav a {
    display:block;
    padding:10px 50px;
    line-height:1.2em;
    color:#fff;
}
nav a:hover { /* top level menu items on hover*/
    text-decoration:none;
    background:#595959;
    
    border-bottom:2px rgb(12, 97, 253) solid;

}
nav li ul { /*  drop down menu items*/
    background:#375da3;

}
nav li ul li {
    width:300px; /*  drop down menu item width*/
}
nav li ul a {
    border-left:10px rgb(29, 8, 124) solid;
    border-right:10px rgb(253, 189, 12) solid;
}
nav li ul a:hover { /*drop down menue items on hover*/
    background:rgba(0,0,0,0.2); /* black with low opacity makes menu darker*/
    border:px rgb(253, 189, 12) solid;


}

nav li ul {
    position:absolute;
    left:-9999em; /*this is basically taking it way offscreeen to the left to make it not visible normally*/


    top:px;
    z-index:1;


}
nav ul > li:hover ul {
    left:0; /*bring it back on screen*/


}
